body {
    margin: 10;
    padding: 10;
    color: #CCED90;
}
#barre {
    background-color:olivedrab;
}

#titre {
    color: white;
    font-size: 150%;
    padding: 10px;
    width: 25%;
}
#map {
    position: absolute;
    height: -webkit-fill-available;    
    width: 60%;
    left: 20%;
}

#bouton1 {
    padding: 5px; 
    margin: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
}

#bouton2 {
    padding: 5px; 
    margin: 15px;
    position: fixed;
    top: 0px;
    right: 200px;
}

#infoDiv {
    background: white;
    padding: 10px;
}

#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#legendDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
