body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

#boite {
    margin: 10px;
    padding: 20px;
    background: ligthgrey;
    height: 100vh
}

#bouton1 {
    padding: 20px
}

#bouton2 {
    padding: 20px
}

#bouton3 {
    padding: 20px
}